ul li {
  list-style: none;
  height: 1.5em;
  margin-bottom: 1em;
  margin-left: 0.3em;
}
.product-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}
.list {
  color: #d5d5d5;
  font-size: 0.8em;
  text-align: left;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
.appversion {
  text-align: center;
  color: #d5d5d5;
}
.link {
  text-decoration: none;
  color: inherit;
}
.version {
  padding-top: 0.5em !important;
}

@media only screen and (max-width: 480px) {
  .product-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
    gap: 2.5em;
  }
  .list {
    color: #d5d5d5;
    font-size: 1em;
    text-align: left;
    margin-left: 1em;
  }
}
