<div>
  <div>
    <div class="title">
      <div>Ticket Management System</div>
      <button (click)="navigateToAddickets()" class="btn btn-primary">
        Create Ticket
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Assignee</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.priority }}</td>
        <td>{{ ticket.assignee }}</td>
        <td>{{ ticket.createdDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
