<header style="font-family: sans-serif;">
  <div class="empty-container"></div>
  <div class="header-content">
    <div class="brand-container">
      <img [src]="logoUrl" alt="" />
      <div class="title">PRO Gamify</div>
    </div>
    <div class="profile-container">
      <div class="trips-container">
        <div class="trip-text" (click)="showTrips()">My Trips</div>
        <div class="trip-container" *ngIf="showTripContainer">
          <app-trips (closeContainer)="closeContianer()"></app-trips>
        </div>
      </div>
      <div>
        <pro-gamification
          [userId]="gamificationUserId"
          [applicationId]="gamificationAppId"
          [themeColor]="'secondary'"
          [menuColor]="'white'"
        ></pro-gamification>
      </div>
    </div>
  </div>
  <div class="empty-container"></div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="empty-container"></div>
  <div class="footer-content">
    <app-footer></app-footer>
  </div>
  <div class="empty-container"></div>
</footer>
