header {
  height: 3.75em;
  background-color: #235449;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.header-content {
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.5em;
  color: #fff;
}

.container {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.empty-container {
  width: 15%;
}

footer {
  background-color: #235449;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.footer-content {
  width: 70%;
  margin: 3.125em 0 3.125em 0;
}

@media only screen and (min-width: 820px) {
  .container {
    width: 90%;
  }
  .empty-container {
    width: 5%;
  }
  .header-content {
    width: 90%;
  }
  .footer-content {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
  .empty-container {
    width: 5%;
  }
  .header-content {
    width: 90%;
  }
  .footer-content {
    width: 90%;
  }
}
