<header style="font-family: sans-serif">
  <div class="empty-container"></div>
  <div class="header-content">
    <div class="brand-container">
      <img [src]="logoUrl" alt="" />
      <div class="title">PRO Gamify</div>
    </div>
    <div class="profile-container">
      <div class="trips-container">
        <button
          class="trip-text"
          clickOutside
          (clickOutside)="closeContainer(false)"
          (click)="showTrips()"
        >
          My Trips
        </button>
        <div class="trip-container" *ngIf="showTripContainer">
          <app-trips (closeContainer)="closeContainer($event)"></app-trips>
        </div>
      </div>
      <div class="pro-gami">
        <pro-gamification
          [userId]="gamificationUserId"
          [applicationId]="gamificationAppId"
          [themeColor]="'secondary'"
          [menuColor]="'white'"
        ></pro-gamification>
        <app-inspect-pop-up *ngIf="isOpen" class="inspect"></app-inspect-pop-up>
      </div>
    </div>
  </div>
  <div class="empty-container"></div>
</header>
<body>
  <div class="container">
    <app-book-ticket [tab]="tab"></app-book-ticket>
    <app-rating
      [tripId]="tripId"
      [tab]="tab"
      (closeContainer)="openHomePage()"
    ></app-rating>
  </div>
  <footer>
    <div class="empty-container"></div>
    <div class="footer-content">
      <app-footer></app-footer>
    </div>
    <div class="empty-container"></div>
  </footer>
</body>
<app-notifier></app-notifier>
<app-initial-popup></app-initial-popup>
