body {
  background-color: #f7f5f5;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  height: 3.75em;
  background-color: #235449;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}
.header-content {
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.5em;
  color: #fff;
}
.container {
  display: block;
  margin: 0 auto;
  width: 70%;
  min-height: 80vh;
}
.empty-container {
  width: 15%;
  margin-top: 3.75em;
}
footer {
  background-color: #235449;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.footer-content {
  width: 70%;
  margin: 3.125em 0 3.125em 0;
}
.brand-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 2em;
}
.trip-text {
  font-size: 1em;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
}

.trip-container {
  z-index: 5;
  position: absolute;
  margin-top: 2em;
  border: 1px solid #dedede;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0.625em;
  box-shadow: 0px 3px 6px #0000000a;
  opacity: 1;
  right: 15%;
  width: 25em;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
  .empty-container {
    width: 0%;
  }
  .header-content {
    width: 95%;
    margin-left: 0.5em;
  }
  .footer-content {
    width: 95%;
  }
  .title {
    display: none;
  }
  .trip-container {
    right: 2%;
    width: 20em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .empty-container {
    width: 0%;
  }
  .header-content {
    width: 95%;
    margin-left: 0.5em;
  }
  .footer-content {
    width: 95%;
  }
  .title {
    display: none;
  }
  .trip-container {
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
  .empty-container {
    width: 5%;
  }
  .header-content {
    width: 90%;
  }
  .footer-content {
    width: 90%;
  }
  .trip-container {
    right: 5;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 95%;
  }
  .empty-container {
    width: 5%;
  }
  .header-content {
    width: 95%;
  }
  .footer-content {
    width: 95%;
  }
}
