<div class="container-decoration">
  <div class="bus-detail-container" (click)="togglePayment()">
    <div class="bus-name-detail">
      <div class="bus-name">{{ busDetails.name }}</div>
      <div class="bus-type">{{ busDetails.type }}</div>
      <div
        class="bus-facililty"
        [style.backgroundImage]="'url(' + busFacility + sasToken + ')'"
      ></div>
    </div>
    <div class="timing-container">
      <div class="bus-timing-detail">
        <div class="start-place">{{ busDetails.startPlace }}</div>
        <div class="start-time">{{ busDetails.startTime }}</div>
      </div>
      <div class="horizontal-line"></div>
      <div class="bus-timing-detail">
        <div class="start-place">{{ busDetails.endPlace }}</div>
        <div class="start-time">{{ busDetails.endTime }}</div>
      </div>
    </div>
    <div class="bus-fare-detail">
      <div class="bus-fare">
        <span class="country">INR</span> {{ busDetails.fare }}
      </div>
    </div>
  </div>
  <div class="confirm-section" *ngIf="togglePaymet">
    <div class="payment-container">
      <div
        class="seat-selection"
        [style.backgroundImage]="'url(' + seats + sasToken + ')'"
      ></div>
      <div class="payment">
        <div class="payment-wrap">
          <div class="boarding">
            <div class="boarding-title">Boarding & Dropping</div>
            <div class="boarding-subtitle">Change ></div>
          </div>
          <div class="boarding-container">
            <div class="boarding-wrap">
              <div class="boarding-time">{{ busDetails.startTime }}</div>
              <div class="boarding-place">
                <div class="boarding-place-title">
                  {{ busDetails.boardingPoint }}
                </div>
                <div class="boarding-place-subtitle">
                  {{ busDetails.boardinglandMark }}
                </div>
              </div>
            </div>
            <div class="boarding-wrap">
              <div class="boarding-time">{{ busDetails.endTime }}</div>
              <div class="boarding-place">
                <div class="boarding-place-title">
                  {{ busDetails.droppingPoint }}
                </div>
                <div class="boarding-place-subtitle">
                  {{ busDetails.droppinglandMark }}
                </div>
              </div>
            </div>
            <div class="horizontal-separator"></div>
            <div class="seat-number">
              <div>Seat</div>
              <div>R1</div>
            </div>
            <div class="horizontal-separator"></div>
            <div class="seat-number">
              <div>Amount</div>
              <div>{{ busDetails.fare }}</div>
            </div>
            <div class="confirm-payment">
              <div class="confirm-button" (click)="bookTicket()">Pay Now</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
