.container-decoration {
  width: 100%;
  border: 1px solid #dedede;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0.625em;
  box-shadow: 0px 3px 6px #0000000a;
  opacity: 1;
  min-height: 127px;
}
.bus-name-detail {
  margin-left: 1.625em;
}
.bus-name {
  font-size: 1.25em;
  font-weight: bold;
  color: #333333;
  padding: 1.125em 0px 5px 0px;
}
.bus-type {
  font-size: 0.8em;
  color: #5a5a5a;
  padding: 0px 0px 0.625em 0px;
}
.bus-facililty {
  width: 10em;
  height: 2em;
}
.bus-detail-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.bus-timing-detail,
.bus-fare-detail {
  text-align: center;
}
.start-place {
  font-size: 0.8em;
  color: #5a5a5a;
  margin-bottom: 0.5em;
}
.start-time {
  font-size: 1.125em;
  color: #333333;
  padding: 0.5em 0.8em;
  border: 1px solid #dedede;
  font-weight: bold;
  border-radius: 3.125em;
}
.timing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.horizontal-line {
  width: 8em;
  height: 2px;
  background-color: #dedede;
  color: #dedede;
  border-width: 0;
}
.bus-fare-detail {
  display: flex;
  align-items: center;
  padding: 1.625em;
}
.bus-fare {
  font-size: 1.25em;
  color: #005749;
  font-weight: bold;
}
.country {
  color: #ffa600;
  font-size: 0.8em;
}

.confirm-section {
  margin-top: 1em;
  border-top: 1px solid #dedede;
  height: 30em;
  background-color: #ebeaea;
}
.payment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.625em;
}
.seat-selection {
  height: 26em;
  width: 26em;
  background-repeat: no-repeat;
  background-size: contain;
}
.payment {
  height: 26em;
  width: 26em;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dedede;
  border-radius: 0.625em;
}
.boarding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}
.boarding-wrap {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: start;
  margin-bottom: 2em;
}

.boarding-time {
  font-size: 1.125em;
  font-weight: bold;
}
.boarding-title {
  font-size: 1.125em;
  font-weight: bold;
  color: #333333;
}
.boarding-subtitle {
  font-size: 0.8em;
  color: #00774b;
  font-weight: bold;
}
.payment-wrap {
  margin: 1.625em;
}
.boarding-place-title {
  font-size: 1em;
  color: #333333;
  font-weight: 700;
}
.boarding-place-subtitle {
  font-size: 0.8em;
  color: #5a5a5a;
}
.horizontal-separator {
  width: 100%;
  height: 2px;
  background-color: #dedede;
  color: #dedede;
  border-width: 0;
  margin-bottom: 1em;
}
.seat-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: 700;
}
.confirm-payment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.confirm-button {
  background: #ffa600 0% 0% no-repeat padding-box;
  border-radius: 3.125em;
  padding: 1.125em 3em;
  font-weight: 700;
  font-size: 1.125em;
  margin: 1em 0em;
  cursor: pointer;
}
