.offer-container {
  width: 440px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dedede;
  max-width: 28em;
  border-radius: 10px;
  flex-direction: row;
  margin-left: 26px;
  margin-bottom: 26px;
}
.offer-image-container {
  min-width: 6.25em;
  min-height: 6.25em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin: 11px;
}
.offer-text-container {
  max-width: 28em;
}
.offer-title {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.offer-sub-title {
  font-size: 14px;
  color: #5a5a5a;
  padding: 0em 0em 0.5em 0em;
  font-weight: bold;
}
.offer-button {
  font-size: 14px;
  color: #00774b;
  font-weight: bold;
  padding: 1em 0em 0em 0em;
}
