.title {
  font-size: 2em;
  margin-right: 3em;
}
.sub-title {
  font-size: 1em;
}
.title-section {
  display: flex;
  align-items: center;
  padding-top: 5em;
  margin-bottom: 1em;
}
.container-decoration {
  width: 100%;
  border: 1px solid #dedede;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0.625em;
  box-shadow: 0px 3px 6px #0000000a;
  opacity: 1;
}
.search-section {
  height: 8.125em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}
.offers-wrap {
  display: flex;
  flex-direction: column;
}

.offers-title {
  font-size: 1.25em;
  font-weight: bold;
  color: #333333;
  margin: 1.2em 1.625em;
}
.offer-1-section,
.offer-2-section {
  overflow-x: hidden;
  display: flex;
}
.offers-section {
  margin-bottom: 2em;
}

.input-title {
  font-size: 1.125em;
  color: #333333;
  font-weight: bold;
  margin-top: 1em;
}
.input-place {
  font-size: 1.8em;
  color: #025549;
  margin-top: 0.5em;
}
.input-state {
  font-size: 1em;
  color: #989898;
}
.search-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 2em;
}
.search-button {
  background: #ffa600 0% 0% no-repeat padding-box;
  border-radius: 3.125em;
  padding: 0.8em 1.5em;
  font-weight: bold;
  font-size: 1.5em;
}

.input-1,
.input-2,
.input-3 {
  margin-left: 1.6em;
  width: 30%;
  border-right: 1px solid #dedede;
}

.bus-list {
  display: flex;
  flex-direction: column;
  margin: 1.6em;
  gap: 1.6em;
}
.bus-detail-section {
  margin-bottom: 2em;
}
.product-title {
  font-size: 1.125em;
  color: #5a5a5a;
  font-weight: bold;
  margin-top: 1em;
}
.product-desc {
  font-size: 0.8em;
  color: #5a5a5a;
  margin-top: 1em;
}

.about-product {
  margin-bottom: 2em;
}
